{% extends 'news/default.html' %}
{% block title %}
О нас
{% endblock %}


{% block content %}
    <h3>Зачем нужна страница «О нас»</h3>
    <p class="lead">Раздел «О нас» дает посетителям сайта представление о компании или личности. Цифры, кейсы, ссылки на крупных заказчиков — подтвержденная информация повышает ваш авторитет и формирует доверие со стороны аудитории. Здесь вы показываете свою значимость и объясняете, почему выгодно быть вашим клиентом.</p>
    <p>Этот раздел подходит для краткого рассказа о команде и истории развития компании. Покажите лица, которые стоят за продуктом — открытость расположит к вам людей. Раскройте свою миссию. Например, вы не просто торгуете техникой, а имеете цель — облегчить быт и улучшить качество жизни. Если есть награды и сертификаты, разместите их здесь.</p>
    <p>Есть вероятность, что сайт могут найти по ключевикам на странице, описывающей вашу деятельность. Учитывайте это при составлении текста. Возможно, вам пригодится этот материал: «SEO-текст: как писать оптимизированные и полезные статьи». Постарайтесь также, чтобы его было интересно читать. Чем больше времени пользователь проведет у вас, тем лучше будет позиция сайта в выдаче.</p>
    <p>Но главное — дать клиенту понять, что вы решите его проблему. Именно для этого в первую очередь нужна страница о компании — показать, какую пользу вы даете, а не просто расписать свою биографию или брендстори.</p>
{% endblock %}