<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %} {% endblock %}
        </title>
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/my_styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'news' %}">NewsPaper - Новостной сайт</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'search' %}">Поиск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news' %}">Все новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">О нас</a>
                        </li>
                        <li class="nav-item">

                            {% if request.user.username %}
                                <a class="nav-link" href="{% url 'account' %}">
                                    {{ request.user.username }}
                                 </a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}"> Войти </a>
                            {% endif%}

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->




        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                <div class="container">
                   <span class="navbar-brand text-white text-uppercase">
                       {% block title-container %}
                       {% endblock %}
                   </span>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                {% block nav-container %}
                                {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-center mt-5">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>

    </body>
</html>
