{% extends 'news/default.html' %}
{% load custom_filters %}
{% load static %}
{% block title %}
    ПОИСК
{% endblock %}

    {% block title-container %}

    <h3 class="display-6">Страница поиска</h3>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form.as_p }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <input style="padding: 2px 30px; border: none; background-color: #4CAF50; color: white;" type="submit" value="Найти">
    </form>
    {% endblock %}
{% block content %}
{% if is_paginated %}
<table style="width: 100%">
    <head>
        <th>
            Имя автора
        </th>
        <th style="width: 420px">
            Название статьи
        </th>
        <th>
            Дата
        </th>
        <th>
            Подробнее
        </th>
    </head>


<!--{% if news %}-->
    {% for new in filter.qs %}
    <tr>
        <td  >
            <p>
                {{ new.author }}
            </p>
        </td>
        <td>
            <p>
                {{ new.title| truncatechars:50 }}
            </p>
        </td>
        <td>
            <p>

                {{ new.dateCreation }}
            </p>
        </td>
        <td>
            <a href="{% url 'detail' new.pk %}">
                показать
            </a>
        </td>
    <tr>
    {% endfor %}


<!--{% else %}-->
<!--    <h2>К сожалению новостей пока нет!!!</h2>-->
<!--{% endif %}-->

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a class="my_class" href="?page=1">
            <img src="{% static 'img/prev_start_page.png' %}" alt="photo">
        </a>
        <a class="my_class" href="?page={{ page_obj.previous_page_number }}">
            <img src="{% static 'img/prev_page.png' %}" alt="photo">
        </a>
    {% endif %}
     <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="my_class" ><span>{{ num }}</span></a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="my_class" href="?page={{ num }}">
                {{ num }}
            </a>
        {% endif %}
    {% endfor %}
    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a class="my_class" href="?page={{ page_obj.next_page_number }}">
            <img src="{% static 'img/next_page.png' %}" alt="photo">
        </a>
        <a class="my_class" href="?page={{ page_obj.paginator.num_pages }}">
            <img src="{% static 'img/next_end_page.png' %}" alt="photo">
        </a>
    {% endif %}
    {% endif %}
</table>
{% endblock %}